<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
 xmlns="http://java.sun.com/xml/ns/javaee" 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>gov.osti.archiver.listener.ServletContextListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>Archiver</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>gov.osti.archiver.services.ArchiveResource,org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
        </init-param>       
    </servlet>
    <servlet-mapping>
        <servlet-name>Archiver</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <description>JPA persistence unit name</description>
        <param-name>persistence_unit</param-name>
        <param-value>archiver_db</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
